<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>i-Med</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/chat-widget assets/css/style.css" />
    <link rel="Tab icon" href="../static/img/pill_logo.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <script src="../static/chat-widget assets/js/main.js"></script>
    <script src="../static/chat-widget assets/js/chat.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo"
        >i-Med <img src="/static/img/pill_logo.png" height="20" width="20"
      /></a>
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/pharmacies.html">Pharmacies</a>
        <a href="/about.html">About</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <img class="cv" src="{{ url_for('video_feed') }}" height="80%" />
          <br />
          <form class="buttons" method="post" action="{{ url_for('tasks') }}">
            <input id="b1" class="cb" type="submit" value="Start" name="stop" />
            <input
              id="b2"
              class="cb"
              type="submit"
              value="Capture"
              name="click"
            />
            <input id="b3" class="cb" type="submit" value="Grey" name="grey" />
            <input
              id="b4"
              class="cb"
              type="submit"
              value="Negative"
              name="neg"
            />
            <input
              id="b5"
              class="cb"
              type="submit"
              value="Face Only"
              name="face"
            />
            <input id="b6" class="cb" type="submit" value="Record" name="rec" />
          </form>
          <br />
          <div class="guide">
            <div class="container">
              <h1 class="center">Guide</h1>

              <article class="episode">
                <div class="episode__number">00</div>
                <div class="episode__content">
                  <div class="title">Start button</div>
                  <div class="story">
                    <p>Toggle between stop or start live streaming</p>
                  </div>
                </div>
              </article>

              <article class="episode">
                <div class="episode__number">01</div>
                <div class="episode__content">
                  <div class="title">Capture button</div>
                  <div class="story">
                    <p>Main feature of the website. When pressed it captures the image, reads the name of the medicine and googles the best match</p>
                  </div>
                </div>
              </article>

              <article class="episode">
                <div class="episode__number">02</div>
                <div class="episode__content">
                  <div class="title">Grey</div>
                  <div class="story">
                    <p>Toggle between greyscale and RGB output</p>
                  </div>
                </div>
              </article>

              <article class="episode">
                <div class="episode__number">03</div>
                <div class="episode__content">
                  <div class="title">Negative</div>
                  <div class="story">
                    <p>Toggle between negative and RGB output</p>
                  </div>
                </div>
              </article>

              <article class="episode">
                <div class="episode__number">04</div>
                <div class="episode__content">
                  <div class="title">Face Only</div>
                  <div class="story">
                    <p>Shows only the persons face if present</p>
                  </div>
                </div>
              </article>

              <article class="episode">
                <div class="episode__number">05</div>
                <div class="episode__content">
                  <div class="title">Record</div>
                  <div class="story">
                    <p>Toggle between starting and stopping video recording</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup chat window -->

    <!-- chat open -->
    <div class="chat-bar-open" id="chat-open">
      <button
        id="chat-open-button"
        type="button"
        class="collapsible close"
        onclick="chatOpen()"
      >
        <img src="../static/img/pill_logo.png" alt="pill_logo image" />
      </button>
    </div>

    <!-- chat close -->
    <div class="chat-bar-close" id="chat-close">
      <button
        id="chat-close-button"
        type="button"
        class="collapsible close"
        onclick="chatClose()"
      >
        <i class="material-icons-outlined"> close </i>
      </button>
    </div>

    <!-- chat-window 1 -->
    <div class="chat-window" id="chat-window1">
      <div class="hi-there">
        <p class="p1">i-Med Virtual Assistant</p>
        <br />
        <p class="p2">Assistant used to help users</p>
      </div>
      <div class="start-conversation">
        <h1>Ask a question</h1>
        <br />
        <p>The assistant replies in a few seconds.</p>
        <button
          class="new-conversation"
          type="button"
          onclick="openConversation()"
        >
          <span>Message</span><i class="material-icons-outlined"> send </i>
        </button>
      </div>
    </div>

    <!-- chat chat-window 2 -->
    <div class="chat-window2" id="chat-window2">
      <div class="message-box" id="messageBox">
        <div class="hi-there">
          <p class="p1">i-Med Virtual Assistant</p>
          <br />
          <p class="p2">The assistant replies in a few seconds.</p>
        </div>
      </div>
      <div class="input-box">
        <div class="surveysparrow">
          <img src="../static/img/pill_logo.png" />
          <p>i-Med Virtual Assistant</p>
        </div>
        <div class="write-reply">
          <input
            class="inputText"
            type="text"
            id="textInput"
            placeholder="Write a reply..."
          />
        </div>
        <div class="send-button">
          <button
            type="submit"
            class="send-message"
            id="send"
            onclick="userResponse()"
          >
            <i class="material-icons-outlined"> send </i>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
